# std::map
snippet fori
	for (int ${2:i} = 0; $2 < ${1:count}; $2${3:++}) {
		${4}
	}
snippet cpp 
	#include <iostream>
	#include <string>
	#include <vector>
snippet stl
	#include <list>
	#include <map>
	#include <set>
	#include <algorithms>
snippet uss
	using namespace std;
snippet us
	using namespace ${1};${2}
snippet swapcpp
	void swap(int &a, int &b){
		int temp = a;
		a = b;
		b = temp;
	}
